*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Varela Round', sans-serif;
  color: black;
  direction: rtl;
  text-align: right;
  font-size: 15px;
  font-weight: 900;
}

a{
  color: white;
}

a:hover{
  color: #ddd;
}


.zoom:hover{
  color: #34495e;
  transform: scale(1.5);
}

/*////////////////////////////////////////////////////////*/
/* ////////////////MAIN PAGE//////////////////////////// */
/*////////////////////////////////////////////////////////*/
.Headers{
  padding-right: 50px;
  font-size: 50px;
  font-weight: 600;
}

.Headers::before{
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  top: 50%;
  right: 0;
  background-color: black;
}

.Headers::after{
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  top: 50%;
  background-color: black;
}

/*////////////////////////////////////////////////////////*/
/* ////////////////CONTACT//////////////////////////// */
/*////////////////////////////////////////////////////////*/
#CONTACT{
  width: 100%;
  background-color: black;
  font-size: 20px;
  color: white;
  padding: 50px 0;
}

#CONTACT h3{
  font-size: 40px;
  color: #ddd;
  margin-bottom: 10px;
}

#CONTACT .fas{
  margin-left: 10px;
}

.details p{
  margin: 50px 0;
}

.contact-icon{
  color: #ddd;
  margin: 0 10px;
  font-size: 1.7em;
}

.contact-logo{
  width: 100%;
}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  border: 0;
  background: #111;
  padding: 15px 20px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
  border-radius: 15px;
}

.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text{
  resize: none;
  height: 120px;
}

.contact-form-btn{
  float: right;
  border: 0;
  background: gray;
  color: black;
  padding: 12px 50px;
  margin: 10px 0;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.contact-form-btn:hover{
  background-color: #34495e;
  color: white;
}

.rights-reserved{
  font-size: 20px;
  text-align: center;
}

.copyrights{
  direction: ltr;
  text-align: center;
  font-size: 15px;
}

@media screen and (max-width: 1000px) {
  .details{
    margin-bottom: 70px;
  }
}
/*////////////////////////////////////////////////////////*/
/* ////////////////menubar/////////////////////////////// */
.my-navbar{}

#menubar{
  color: white;
  position:absolute;
  top: 40px;
  left: 40px;
  font-size: 40px;
  cursor: pointer;
  z-index: 99;
}

#sidenav{
  text-align: left;
  width: 0px;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  padding-top: 80px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  clip-path: circle(70% at 0% 0%);
}

#sidenav a{
  text-decoration: none;
  font-size: 30px;
  padding: 10px 20px;
  display: block;
  margin: 20px 40px;
  color: white;
}

.fa-sidenav{
  padding-left: 8px;
}

/* PHONE */
@media screen and (max-width: 1000px) {
  #sidenav{
    clip-path: none;
  }

  #sidenav a{
    padding: 15px 50px;
  }
}


/*////////////////////////////////////////////////////////*/
/* ////////////////TOP PAGE//////////////////////////// */

#HOME{
  width: 100%;
  height: 100vh;
}

#HOME::before{
  content: ' ';
  display: block;
  position: absolute;
  right: 0;
  top:0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  opacity:1.5;
  background: url('../photos/main-page-top-photo.jpeg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

#HOME p{
  color: white;
  word-spacing: 5px;
  font-size: 70px;
  margin-top: 150px;
  padding-right: 50px;
  position: relative;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.1);
}

.HOME-span{
  font-size: 30px;
}

/* TABLET */
@media screen and (max-width: 1300) and (min-width: 1000px) {
  #HOME p{
    padding-right: 30px;
    font-size: 50px;
  }
}

/* PHONE */
@media screen and (max-width: 1000px) {
  #HOME p{
    font-size: 40px;
    padding-right: 15px;
  }
  .HOME-span{
    font-size: 16px;
  }
}

/*////////////////////////////////////////////////////////*/
/* ////////////////OUR WORK/////////////////////////////// */
/*////////////////////////////////////////////////////////*/
#OUR-WORK{
  margin-bottom: 80px;
}

.work-catalog{
  font-size: 40px;
  text-align: center;
  word-spacing: 1px;
  padding: 15px 15px;
}

.work-catalog img{
  height: 500px;
}

/*////////////////////////////////////////////////////////*/
/* ////////////////COMPANY/////////////////////////////// */
/*////////////////////////////////////////////////////////*/
.company{
  width: 100%;
  margin-top: 80px;
}

.companies-photo{
  width: 100px;
  margin: 50px 0;
  margin-right: 50px;

}

.klil{
  width: 150px;
}

.tiptop{
  width: 140px;
}
